*.class
.idea
*.iml
out

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# working directories
day15
day16
day17
day18
day19
day20
day21

# .gitignore
.gitignore
